asgiref==3.11.1
blinker==1.9.0
click==8.3.3
Django==6.0.4
dotenv==0.9.9
gunicorn==26.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.2
python-dotenv==1.2.2
sqlparse==0.5.5
Werkzeug==3.1.8
whitenoise==6.12.0
